@import "../../utils/common.less";

.poster {
    .change {
        color: @theme-color;
        background-color: white;
        border: 1px solid @theme-color;
        left: 220rpx;
    }
    .save {
        background-color: @theme-color;
        color: white;
        right: 220rpx; 
    } 
}