@import "../../utils/common.less";
@import "../../utils/buttons.less";
@margin-space: 30rpx;
.login-nav { 
    border: 1px solid @theme-color;
    width: 500rpx;
    height: @nav-height;
    border-radius: 10px;
    color: @font-color;
    text-align: center;
    margin-top: 90rpx;
    &__user, &__merchant{
        height: 100%;
        line-height: @nav-height;
        width: 50%;
    }
    &__user {
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        float: left;
    }
    &__merchant {
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        float: right;
    }
}

.form {
    #code {
        height: @nav-height * 1.9;
        text-align: right;
        float: right;
        color: @theme-color;
        min-width: 40rpx;
        .content {
            height: 50rpx;
            line-height: 50rpx;
            border: 1px solid @theme-color;
            border-radius: 5px;
            margin-top: ((@nav-height * 1.9) - 50)/2;
            image {
                width: 15rpx;
                height: 10rpx;
                padding-right: 5rpx;
                float: right;
                margin-top: 22.5rpx;
                margin-left: 5rpx;
            }
        }
    }
    .row {
        .mobile {
            width: 250rpx;
        }
    }
}