@import "../../utils/common.less";
@margin-space: 30rpx;
 
.login-option-nav {
    border: 1px solid @theme-color;
    width: 500rpx; 
    height: @nav-height;
    border-radius: 10px;
    color: @font-color;
    text-align: center;    
    #user { 
        height: 100%;
        line-height: @nav-height;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;    
        float: left;
        width: 50%;
    }
    #merchant {
        height: 100%;
        line-height: @nav-height;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;   
        text-align: center;
        float: right;
        width: 50%;
    }
}

#register-form {
    margin-top: @margin-space;
}

.form {
    margin-top: 30rpx;
    #code {
        height: @nav-height * 1.9;
        text-align: right;
        float: right;
        color: @theme-color;
        min-width: 40rpx;
        .content {
            height: 50rpx;
            line-height: 50rpx;
            border: 1px solid @theme-color;
            border-radius: 5px;
            margin-top: ((@nav-height * 1.9) - 50)/2;
            image { 
                width:15rpx;
                height:10rpx;
                padding-right: 5rpx;
                float:right;
                margin-top: 22.5rpx;
                margin-left: 5rpx;
            }
        }
    }
}

.register-button {
    width: 100%;
    margin-top: @margin-space;
    .bind-user {
        background-color: @theme-color;
        color: white;
        width: 90%;
        height: 90rpx;
    }
}
