@import "../../utils/common.less";
@import "../../utils/mixins.less";

.product-list-main {
    .merchant-info {
        width: 100%;
        min-height: 220rpx;
        &__logo {
            margin-left: 15rpx;
            float: left;
            width: @std-height;
            height: 100%;
            display: flex;
            justify-content: center;
        }
        &__profile {
            margin-top: 23rpx;
            float: right;
            width: 500rpx;
            margin-right: 10rpx;
            height: 100%;
        }
        &__name {
            font-size: @font-size-default;
        }
        &__address {
            margin-top: 10rpx;
            font-size: 23rpx;
            color: #979797;
            .highlight {
                .tag-highlight();
                background-color: #FFA32C;
            }
            text {
                margin-left: 10rpx;
                color: #FFA32C;
            }
        }
        &__hours {
            margin-top: 5rpx;
            font-size: 23rpx;
            color: #979797;
        }
        &__announcement {
            margin-top: 10rpx;
            width: 450rpx;
            font-size: 23rpx;
            color: #979797;
            display: flex;
            word-wrap: break-word;
            .highlight {
                .tag-highlight();
                background-color: @theme-color;
            }
            text {
                margin-left: 10rpx;
                color: @theme-color;
                margin-left: 10rpx;
                font-size: 24rpx;
                width: 350rpx;
            }
        }
        &__edit-profile-button,
        &__call-merchant-button {
            right: 0;
            top: 20rpx;
            position: absolute;
            height: 50rpx;
            font-size: 25rpx;
        }
        &__edit-profile-button {
            width: 100rpx;
            color: @theme-color;
            image {
                margin-left: 5rpx;
                margin-top: 5rpx;
                width: 30rpx;
                height: 30rpx;
            }
        }
        &__call-merchant-button {
            width: 150rpx;
            line-height: 50rpx;
            float: right;
            image {
                margin-left: 5rpx;
                margin-top: 10rpx;
                width: 30rpx;
                height: 30rpx;
                position: absolute;
            }
        }
    }
    .products {
        height: 890rpx;
        width: 100%;
        overflow: scroll;
        .categories {
            float: left;
            width: 180rpx;
            height: 100%;
            background-color: #F8F8F8;
            text-align: center;
            color: #999999;
            position: fixed;
            .category {
                height: 125rpx;
                line-height: 125rpx;
                width: 100%;
                &--icon-style {
                    width: 20%;
                    height: 30%;
                    float: left;
                    margin-top: 40rpx;
                    margin-left: 20rpx;
                }
                &--text-style {
                    margin-left: -30rpx;
                }
                &--button-style {
                    border-radius: 50%;
                    background-color: @theme-color;
                    height: 50rpx;
                    width: 50rpx;
                    margin-top: 36.5rpx;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 20rpx;
                    image {
                        height: 40%;
                        width: 40%;
                        margin-left: 30%;
                    }
                }
                &--button-text {
                    margin-left: -20rpx;
                    color: @theme-color
                }
            }
        }
        &__empty-icon {
            position: absolute;
            height: 265rpx;
            width: 144rpx;
            margin-left: 390rpx;
            margin-top: 200rpx;
        }
        &__empty-hint {
            position: absolute;
            height: 265rpx;
            width: 570rpx;
            margin-left: 180rpx;
            margin-top: 490rpx;
            color: #999999;
            text-align: center;
            font-size: 25rpx;
        }
        .product {
            margin-top: 20rpx;
            float: right;
            height: 180rpx;
            width: 73%;
            &__image {
                float: left;
                width: 180rpx;
                height: 180rpx;
            }
            &__detail {
                width: 60%;
                float: right;
                margin-right: 20rpx;
            }
            &__name {
                font-size: 35rpx;
            }
            &__intro {
                height: 70rpx;
                margin-top: 5rpx;
                color: #888888;
                font-size: 24rpx;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__price {
                margin-top: 10rpx;
                color: @theme-color;
                font-size: 35rpx;
                font-weight: 500;
            }
        }
        &__add-button {
            border-radius: 50%;
            width: 100rpx;
            height: 100rpx;
            background: @theme-color;
            position: fixed;
            right: 0;
            bottom: 0;
            margin-right: 50rpx;
            margin-bottom: 50rpx;
            image {
                height: 100%;
                width: 100%;
            }
        }
    }
}

