@import "../../utils/common.less";

.collections-main {
    height: 1200rpx;
    background-color: @background-color;
    display: block;
    .no-collection {
        margin-top: 150rpx;
        margin-left: 205rpx;
        width: 350rpx;
        height: 300rpx;
    }
    .product-list {
        background: white;
        min-height: 65rpx;
        width: 100%;
        display: inline-block;
        .title {
            height: 65rpx;
            width: 95%;
            float: right;
            .btn {
                color: @theme-color;
                float: left;
                width: 110rpx;
                margin-top: 10rpx;
                height: 45rpx;
                line-height: 45rpx;
                border: 1px solid @theme-color;
                text-indent: 50rpx;
                border-radius: 12px;
                font-size: 25rpx;
                .market-icon {
                    margin-top: 5rpx;
                    margin-left: 10rpx;
                    width: 35rpx;
                    height: 35rpx;
                    float: left;
                }
                text {
                    margin-left: -40rpx;
                }
            }
            .name {
                margin-left: 10rpx;
                float: left;
                width: 400rpx;
                height: 65rpx;
                line-height: 65rpx;
                font-size: 34rpx;
            }
            .selector-wrapper {
                height:100%;
                width:100rpx;
                float:right;
                .selector {
                    width: 32rpx;
                    height: 16rpx;
                    margin-top: 22rpx;
                    margin-right: 20rpx;
                    float: right;
                }
                .selector-left {
                    width: 16rpx;
                    height: 32rpx;
                    margin-top: 16rpx;
                    margin-right: 30rpx;
                    float: right;
                }
            }
        }
        .content {
            width: 95%;
            height: 235rpx;
            float: right;
            .left {
                float: left;
                width: 210rpx;
                height: 100%;
                image {
                    width: 210rpx;
                    height: 210rpx;
                    margin-top: 6%;
                }
            }
            .right {
                float: right;                
                width: 460rpx;
                height: 100%;
                .name {
                    margin-top: 35rpx;
                    font-size: 27rpx;
                }
                .price {
                    margin-top: 15rpx;
                    font-size: 27rpx;
                }
                .code {
                    margin-top: 15rpx;
                    font-size: 20rpx;
                }
                .description {
                    font-size: 20rpx;
                }
                .trash {
                    width:35rpx;
                    height:35rpx;
                    margin-top:-160rpx;
                    margin-right:20rpx;
                    float:right;
                }
            }
        }
    }
}