@import "../../utils/common.less";

.collections-main {
    .product-list {
        border: 1px solid red;
        height: 300rpx;
        width: 100%;
        .title {
            border-bottom: 1px solid red;
            height: 65rpx;
            width: 95%;
            float: right;
            .btn {
                float: left;
                width: 110rpx;
                height: 100%;
            }
            .name {
                float: left;
                width: 140rpx;
                height: 100%;
                font-size: 34rpx;
            }
        }
        .content {
            width: 95%;
            height: 235rpx;
            float: right;
            .left {
                float: left;
                width: 210rpx;
                height: 100%;
                image {
                    border: 1px solid red;
                    width: 210rpx;
                    height: 210rpx;
                    margin-top: 6%;
                }
            }
            .right {
                float: right;                
                width: 200rpx;
                height: 100%;
                border-right: 1px solid red;
            }
        }
    }
}