@import "../../utils/common.less";

.edit-product-main {
    .product-images {
        min-height: @std-height + 30rpx;
        width: 100%;
        .product-image {
            float: left;
            margin-left: 35rpx;
            margin-top: 20rpx;
            border: @border;
            width: @std-height - 20rpx;
            height: @std-height - 20rpx;
            border-radius: 3px;
            background-color: #EEF9F1;
        }
    }
    .form {
        margin-top: 20rpx;
    }
}