@import "../../utils/common.less";
 
.filter {
    border-top: @border;
}
 
.merchant-list {
    height: 1010rpx;
    background-color: @background-color;    
}

.merchant{
    background-color: white;
    width: 100%;
    min-height: @std-height;
    margin-bottom: 20rpx;
    .merchant-info {
        width: 100%;
        height: 190rpx;
        .merchant-logo {
            margin-left: 15rpx;
            float: left;
            width: 200rpx;
            height: 100%;
            display: flex;
            justify-content: center;
            .logo {
                margin-top: 20rpx;
                width: 140rpx;
                height: 140rpx;
                border-radius: 10px;
            }
        }
        .merchant-profile {
            margin-top: 20rpx;
            margin-right: 30rpx;
            float: right;
            width: 500rpx; 
            height: 100rpx;
            .merchant-name {
                font-size: 30rpx;
                display: inline-block;
            }
            .merchant-address {
                display: inline-block;
                margin-left: 10rpx;
                font-size: 20rpx;
                color: #979797;
            }
            .enter {
                float: right;
                margin-left: 10rpx;
                font-size: 22rpx;
                border-radius: 20px;
                width: 80rpx;
                text-align: center;
                color: @theme-color;
                border: 1px solid @theme-color
            }
            .merchant-announcement {
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;

                .announcement-icon { 
                    display: inline-block;
                    font-size: 24rpx;
                    width: 60rpx;
                    height: 35rpx;
                    line-height: 35rpx;
                    text-align: center;
                    border-radius: 3px;
                    color: white;
                    background-color:@announcement-color;
                }
                .announcement-content {
                    margin-left: 10rpx;
                    color: @theme-color;
                    margin-left: 10rpx;
                    font-size: 24rpx;
                    width: 350rpx;
                }
            }
            .tags {
                margin-top: 10rpx;
                .tag {
                    margin-right: 10rpx;
                    float: left;
                    border: 1px solid #FFA32C;
                    text-align: center;
                    border-radius: 3px;
                    height: 30rpx;
                    line-height: 30rpx;
                    min-width: 110rpx;
                    font-size: 24rpx;
                    text {
                        color: #FFA32C;
                    }
                }
            }
        }        
    }
 
    .merchant-products {
        height: 230rpx;
        width: 100%;
        .product-image {
            float: left;
            width: 203rpx;
            height: 203rpx;
            border-radius: 3px; 
            margin-left: 34rpx;
            border: @border;
        }
    }
}