@import "../../utils/common.less";
.filter {
    border-top: 1px solid #E2E2E2;
}

.merchant-list {
    min-height: 1010rpx;
    width: 100%;
    background-color: @background-color;
}

.merchant {
    background-color: white;
    width: 100%;
    min-height: @std-height;
    margin-bottom: 20rpx;
    .merchant-info {
        width: 100%;
        height: 190rpx;
        &__logo {
            margin-left: 15rpx;
            float: left;
            width: 200rpx;
            height: 100%;
            display: flex;
            justify-content: center;
            &--style {
                border: 1px solid #E2E2E2;
                margin-top: 25rpx;
                width: 140rpx;
                height: 140rpx;
                border-radius: 10px;
            }
        }
        &__profile {
            margin-top: 25rpx;
            margin-right: 30rpx;
            float: right;
            width: 500rpx;
            height: 100rpx;
        }
        &__name {
            font-size: 30rpx;
            display: inline-block;
        }
        &__address {
            display: inline-block;
            margin-left: 10rpx;
            font-size: 20rpx;
            color: #979797;
        }
        &__button {
            float: right;
            margin-left: 10rpx;
            font-size: 25rpx;
            border-radius: 20px;
            width: 80rpx;
            text-align: center;
            color: @theme-color;
            border: 1px solid @theme-color;
            height: 40rpx;
            line-height: 40rpx;
        }
        &__announcement {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .announcement-icon {
                display: inline-block;
                font-size: 24rpx;
                width: 60rpx;
                height: 35rpx;
                line-height: 35rpx;
                text-align: center;
                border-radius: 3px;
                color: white;
                background-color: @announcement-color;
            }
            .announcement-content {
                margin-left: 10rpx;
                color: #979797;
                margin-left: 10rpx;
                font-size: 24rpx;
                width: 350rpx;
            }
        }
        &__tags {
            margin-top: 10rpx;
            &--style {
                margin-right: 10rpx;
                float: left;
                border: 1px solid #FFA32C;
                text-align: center;
                border-radius: 3px;
                height: 30rpx;
                line-height: 30rpx;
                min-width: 110rpx;
                font-size: 24rpx;
                color: #FFA32C;
            }
        }
    }
    .merchant-products {
        height: 230rpx;
        width: 100%;
        &__image {
            float: left;
            width: 203rpx;
            height: 203rpx;
            border-radius: 3px;
            margin-left: 34rpx;
            border: 1px solid #E2E2E2;
        }
    }
}