@import "../../utils/common.less";

.edit-categories-main {
    align-items: right;
    .save-edit-pos {
        position: absolute;
        bottom: 0;
        margin-bottom: 50rpx;
    } 
    .edit-btn-wrapper {
        width: 100%;
        .add-category-btn {
            float: right;
            margin-right: 50rpx;
            margin-top: 50rpx;
            border-radius: 50%;
            width: 100rpx;
            height: 100rpx;
            background: @theme-color;
        }
    } 
}