@import "../../utils/common.less";

.edit-merch-main {
    .top-logo {
        height: @std-height;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form {
        margin-top: 40rpx;
    }
}